/* CSS Reset */

html, body, blockquote, code, h1, h2, h3, h4, h5, h6, p, pre {
    margin:0;
    padding:0
}
button, fieldset, form, input, legend, textarea, select {
    margin:0;
    padding:0
}
fieldset {
    border:0
}
a, a * {
    cursor:pointer
}
div {
    margin:0;
    padding:0;
    background-color:transparent;
    text-align:left
}
hr, img {
    border:0
}
applet, iframe, object {
    border:0;
    margin:0;
    padding:0
}
button, input[type=button], input[type=image], input[type=reset], input[type=submit], label {
    cursor:pointer;
}
ul, li {
    list-style:none;
    margin:0;
    padding:0;
}

/* CSS Reset Ended */

body{
    background-color: #f3efe0;
    color: #000;
    font-family: georgia, 'times new roman', serif;
    margin: 10px;
    text-align: center;
}

section{
    padding: 10px;
}

img{
    max-width: 100%;
    height: auto;
}

h3{
    max-width: 100%;
    margin: auto;
}



h4{
    font-size: 35px;
}

h5{
    font-size: 20px;
}

p{
    padding: 10px;
    padding-bottom: 15px;
    max-width: 100%;
    margin: 0 auto;
}

footer{
    color: #fff;
    padding: 1em;
}


/* Original Nav Styling */

nav{
    background-color: #300a2C;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}
nav li{
    list-style-type: none;
    display: inline-block;
}

nav a{
    padding: 20px;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    font-family:verdana, arial, sans-serif;
}

nav a:hover{
    background-color: #5b3952;
    color: #8155ba;
}

nav a:active{
    color: #29791b;
    background-color: #5b393b;
}

/*  CLASSES  */

.sectbkcolor{
    background-color: #7a3672;
}

/* Original Nav Styling More */

.active{
    background-color: #402d48;
    color: #2da2cd;
}

/* Done */

.homeserve{
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr;
    grid-auto-rows:minmax(250px auto);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
}

.homeserve img{

}

@media (min-width:50em){
    .homeserve{
    grid-template-columns:1fr 1fr 1fr;
    grid-auto-rows:minmax(250px 250px);
}}

a.infolinks1{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
}

a.infolinks1:hover{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
}

a.infolinks2{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    color: #000;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
}

a.infolinks2:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

.serviceslist{
    max-width: 100%;
}

.serviceslist li{
    list-style-type: disc;
    padding: 5px;
}

/* PC Adjustments */

@media (min-width:50em){
    h3, p{
    max-width: 50%;
    }
}

/*
        contact form

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
} */